.tweets-listitem-avatar {
	align-self: flex-start;
	position: relative;
	left: -16px;
	top: 0.5ex;
}

.tweets-listitem-title,
.tweets-listitem-text {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	line-height: 1.4em;
	width: 100%;
	word-wrap: break-word;
}

.tweets-listitem-badges {
	white-space: nowrap;
}
