.sentiment-progress {
	position: relative;
}

.sentiment-progress > :last-child {
	position: absolute;
	top: 0;
	left: 0;
	transform: scale(1, -1);
}

.sentiment-progress > :last-child .v-progress-circular__underlay {
	stroke: transparent;
}
